.graph_box {
    border-radius: 8px;
    padding: 14px !important;
    min-width: 124px;
    min-height: 99px;
    display: flex;
    flex-direction: column;
}

.graph_inner_text_big {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.graph_inner_text_sm {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}