.donut_tooltip {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    min-height: 78px;
    opacity: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 10px !important;
}

.donut_tooltip_text {
    font-family: ;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 5px !important;
}