.donut_tooltip {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    min-height: 78px;
    opacity: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 10px !important;
}

.donut_tooltip_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 5px !important;
}

.svg_select_points_l,.svg_select_points_r {
    width: 20px;
    y: 0;
    border-radius: 50%;
    height: 37px;
}

.svg_select_points {
    fill: #A7A7A7 !important;
    stroke-width: 0 !important;
}

.selection_box_tooltip {
    padding: 10px;
}
