.about{
    max-width: 100%;
    padding: 0px;
    background: #F0F0F5;
}

.mainbox{
    width: 1229px;
height: 264px;
flex-shrink: 0;
margin-bottom:10px;
background: linear-gradient(147deg, #009DD8 0%, #0071CE 100%);
}
.mainboxtext{
    color: #FFF;
font-family: Manrope;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 46px; /* 100% */
}

.contentbox1{
    display: flex;
width: 760px;
height: 80px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.headingtext1{
    color: #191919;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 83.333% */
}

.contentbox2{
    width: 100%;
}
.contenttext2{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
opacity: 0.800000011920929;
}

.headingbox2{
    width: 50%;
}
.headingtext2{
    color: #191919;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 83.333% */
}

.contentbox3{
    width: 861px;
height: 61px;
flex-shrink: 0;
border-radius: 5px;
opacity: 0.4000000059604645;
background: #FFF;
}
.contenttext3{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.headingbox3{
    width: 388px;
}
.headingtext3{
    color: #191919;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 83.333% */
}

.contentbox4{
    width: 863px;
}
.contenttext4line1{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.800000011920929;
padding-top: 0px;
padding-bottom: 15px;
}
.contenttext4line2{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.800000011920929;
padding-bottom: 10px;
}
.contenttext4line3{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.800000011920929;
padding-top: 5px;
padding-bottom: 7.5px;
}
.contenttext4line4{
    color: #191919;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
opacity: 0.800000011920929;
padding-top: 7.5px;
}

.headingbox4{
    width: 388px;
}
.headingtext4{
    color: #191919;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 83.333% */
}

.lastbox{
    width: 1440px;
    height: 100px;
}