.icon {
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;
}

.icon-upi {
    height: 70px;
    width: 200px;
    position: relative;
    display: inline-block;
}

.icon-lg {
    height: 80px;
    width: 80px;
    position: relative;
    display: inline-block;
}

.icon-70 {
    height: 70px;
    width: 70px;
    position: relative;
    display: inline-block;
}

.icon-big {
    height: 105px;
    width: 105px;
    position: relative;
    display: inline-block;
}

.icon-xl {
    height: 130px;
    width: 130px;
    position: relative;
    display: inline-block;
}

.icon-xxl {
    height: 150px;
    width: 150px;
    position: relative;
    display: inline-block;
}

.icon-small {
    height: 50px;
    width: 50px;
    position: relative;
    display: inline-block;
}

.icon-64 {
    height: 64px;
    width: 64px;
    position: relative;
    display: inline-block;
}

.icon-40 {
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-block;
}

.icon-pay {
    height: 55px;
    width: 55px;
    position: relative;
    display: inline-block;
}

.icon-xs {
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;
}

.icon,
.icon-lg,
.icon-xl,
.icon-small,
.icon-xs,
.icon-upi,
.icon-big,
.icon-pay,
.icon-xxl,
.icon-64,
.icon-70 {
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        top: 0;
    }
}

.dropdown_black {
    &::before {
        width: 16px;
        background-image: url('/icons/dropdown_black.svg');
    }
}

.dropdown_black_open {
    &::before {
        width: 16px;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
        background-image: url('/icons/dropdown_black.svg');
    }
}

.dropdown_white {
    &::before {
        width: 16px;
        background-image: url('/icons/dropdown_white.svg');
    }
}

.dropdown_white_open {
    &::before {
        width: 16px;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
        background-image: url('/icons/dropdown_white.svg');
    }
}


.moon {
    cursor: pointer;

    &::before {
        background-image: url('/icons/moon.svg');
    }
}

.sun {
    cursor: pointer;

    &::before {
        background-image: url('/icons/sun.svg');
    }
}

.next_icon_light {
    width: "24px";
    height: "24px";
    cursor: pointer;

    &::before {
        background-image: url('/icons/next_icon_light.svg');
    }
}

.next_icon_dark {
    width: "24px";
    height: "24px";
    cursor: pointer;

    &::before {
        background-image: url('/icons/next_icon_dark.svg');
    }
}


.log_in_white {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before {
        background-image: url('/icons/log_in_white.svg');
    }
}

.log_in_black {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before {
        background-image: url('/icons/log_in_black.svg');
    }
}

.green_check_circle {
    &::before {
        background-image: url('/icons/green_check_circle.svg');
    }
}

.red_check_circle {
    &::before {
        background-image: url('/icons/red_check_circle.svg');
    }
}

.bell_light {
    width: 25px;
    height: 25px;

    &::before {
        background-image: url('/icons/bell_light.svg');
    }
}

.to_enter {
    width: 25px;
    height: 25px;

    &::before {
        background-image: url('/icons/enter-logo.svg');
    }
}

.up_arrow {
    width: 25px;
    height: 25px;

    &::before {
        background-image: url('/icons/up-arrow.svg');
    }
}

.down_arrow {
    width: 25px;
    height: 25px;

    &::before {
        background-image: url('/icons/down-arrow.svg');
    }
}

.bell_dark {
    width: 25px;
    height: 25px;

    &::before {
        background-image: url('/icons/bell_dark.svg');
    }
}

.solvendo_notification_dark {
    width: 30px;
    height: 30px;

    &::before {
        background-image: url('/icons/solvendo_notification_dark.svg');
    }
}

.solvendo_notification_light {
    width: 30px;
    height: 30px;

    &::before {
        background-image: url('/icons/solvendo_notification_light.svg');
    }
}

.no_notification_light {
    width: 230px;
    height: 210px;

    &::before {
        background-image: url('/icons/no_notification_light.svg');
    }
}

.no_notification_dark {
    width: 230px;
    height: 210px;

    &::before {
        background-image: url('/icons/no_notification_dark.svg');
    }
}

.arrow_circle_light {
    width: 24px;
    height: 24px;

    &::before {
        background-image: url('/icons/arrow_circle_light.svg');
    }
}

.arrow_right_grey {
    width: 24px;
    height: 24px;

    &::before {
        background-size: cover;
        background-image: url('/icons/arrow_right_grey.svg');
    }
}

.ent_logo {
    width: 140px;
    height: 29px;
    cursor: pointer;

    &::before {
        background-image: url('/icons/ent_logo.svg');
    }
}


.ent_feature_1 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_1.svg');
    }
}

.ent_feature_2 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_2.svg');
    }
}

.ent_feature_3 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_3.svg');
    }
}

.ent_feature_4 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_4.svg');
    }
}

.ent_feature_5 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_5.svg');
    }
}

.ent_feature_6 {
    width: 32px;
    height: 32px;

    &::before {
        background-image: url('/icons/ent_feature_6.svg');
    }
}

.ent-scroll-down {
    width: 46px;
    height: 57px;

    &::before {
        background-image: url('/images/ent_scroll_down.svg');
    }
}


.ent-carousel-arrow-left {
    width: 24px;
    height: 24px;

    &::before {
        background-image: url('/images/ent_carousel_arrow.svg');
    }
}

.ent-carousel-arrow-right {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);

    &::before {
        background-image: url('/images/ent_carousel_arrow.svg');
    }
}


.customize_tab_icon_light {

    &::before {
        background-image: url('/images/customize_tab_icon_light.svg');
    }
}

.customize_tab_icon_dark {

    &::before {
        background-image: url('/images/customize_tab_icon_light.svg');
    }
}

.tab_library_icon_light {

    &::before {
        background-image: url('/images/tab_library_icon_light.svg');
    }
}

.tab_library_icon_dark {

    &::before {
        background-image: url('/images/tab_library_icon_light.svg');
    }
}

// campaign page
.ent_logo {
    width: 140px;
    height: 29px;
    cursor: pointer;

    &::before {
        background-image: url('/icons/ent_logo.svg');
    }
}


.numbers_icon_1 {
    width: 20px;
    height: 20px;

    &::before {
        background-image: url('/icons/numbers_icon_1.svg');
    }
}

.numbers_icon_2 {
    width: 20px;
    height: 20px;

    &::before {
        background-image: url('/icons/numbers_icon_2.svg');
    }
}

.numbers_icon_3 {
    width: 20px;
    height: 20px;

    &::before {
        background-image: url('/icons/numbers_icon_3.svg');
    }
}


.private_key_use_1 {
    width: 48px;
    height: 48px;

    &::before {
        background-image: url('/icons/private_key_use_1.svg');
    }
}

.private_key_use_2 {
    width: 48px;
    height: 48px;

    &::before {
        background-image: url('/icons/private_key_use_2.svg');
    }
}

.private_key_use_3 {
    width: 48px;
    height: 48px;

    &::before {
        background-image: url('/icons/private_key_use_3.svg');
    }
}

.private_key_use_4 {
    width: 48px;
    height: 48px;

    &::before {
        background-image: url('/icons/private_key_use_4.svg');
    }
}


.build_step_1 {
    width: 100px;
    height: 100px;

    &::before {
        background-image: url('/icons/build_step_1.svg');
    }
}

.build_step_2 {
    width: 100px;
    height: 100px;

    &::before {
        background-image: url('/icons/build_step_2.svg');
    }
}

.build_step_3 {
    width: 100px;
    height: 100px;

    &::before {
        background-image: url('/icons/build_step_3.svg');
    }
}