.focused{
    background: red;
}

.donut_tooltip {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    min-height: 78px;
    opacity: 100%;
    border: 1px;
    border-radius: 8px;
    padding: 10px !important;
}

.donut_tooltip_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 5px !important;
}

.donut_tooltip_body_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background-color: aquamarine;
}

@media (max-width: 768px) {
    .tooltip-wrapper {
      max-height: 100px; /* Set the maximum height for the tooltip content */
      overflow-y: auto; /* Enable vertical scrolling when content overflows */
    }
  }


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@media screen and (min-height: 595px) {
    .sidebar-styles{
        position: fixed!important;
    }
    .margin-conditions{
        margin-left: 225px;
    }
    #main-body[aria-expanded="false"]{
        margin-left: 225px;
        
    }
    #main-body[aria-expanded="false"]{
        margin-left: 80px;
        
    }
}

@media screen and (max-height: 595px) {
    .sidebar-styles{
        position: relative!important;
    }
    .margin-conditions{
        margin-left: 0px;
    }
}

.center {
    justify-content: center;
    align-items: center;
}