.backgroundcolour{
    max-width: 100%;
    background: #E8E8E8;
mix-blend-mode: luminosity;
}
.headingbox{
    width: 94px;
    height: 46px;
    margin: 0px 0px 6px 32px;
}

.headingtext{
    color: #202020;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 46px;
}
.firstbox{
height: 238px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
margin:0px 29px 0px 33px;
}
.systemdefaultbox{
    width: 183.418px;
height: 133px;
flex-shrink: 0;
}
.lightthemebox{
    width: 183.418px;
height: 133px;
flex-shrink: 0;
}
.darkthemebox{
    width: 183.418px;
height: 133px;
flex-shrink: 0;
}
.checkbox{
    width: 15px;
height: 15px;
flex-shrink: 0;
}
.themebox{
    width: 48px;
height: 20px;
top: 155px;
left: 263px;
}
.themetext{
    font-family: Manrope;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
.secondbox{
    width: 1168px;
height: 293px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
margin: 29px 29px 0px 33px;
}

.logouttextbox{
    width: 121px;
    height: 20px;
    margin: 34px 0px 0px 53px;
}
.logouttext{
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
.lasttextbox{
    color: #191919;
font-family: Manrope;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 10px;
opacity: 0.5;
margin: 0px 0px 0px 227px;
}
.lasttext{
    font-family: Manrope;
font-size: 11px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0em;
text-align: left;
}
